html, body {
  background-color: black;
  color: white;  
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-control-dark {
  background-color: #343a40; 
  color: #fff;            
  border: 1px solid #495057;
}

.form-control-dark::placeholder {
  color: #adb5bd; 
}

.form-control-dark:focus {
  background-color: #343a40;
  color: #fff;
  border-color: #66afe9; /* or some bluish or teal color */
  box-shadow: 0 0 0 0.25rem rgba(102, 175, 233, 0.5); /* subtle colored glow */
  outline: none;
}